@font-face {
    font-family: playfair;
    src: url(./fonts/PlayfairDisplay-Regular.ttf)
}
 
@font-face {
    font-family: sofia;
    src: url(./fonts/sofiapro-light.otf);
}

@font-face {
    font-family: playfair-italic;
    src: url(./fonts/playfair-italic.ttf);
}

@keyframes scroll {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url(./images/bg2.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: sofia;
    background-position: center;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.healthcare {
    font-family: playfair-italic;
}

nav {
    display: flex;
    align-items: center;
    color: #F6F6F6;
    gap: 80px;
    font-weight: lighter;
    font-size: 1.25em;
}

nav > * {
    opacity: 70%;
}

nav > *:hover {
    cursor: pointer;
    border-bottom: 2px solid gray;
    font-weight: bold;
    opacity: 100%;
}

header button {
    color: #F6F6F6;
    background-color: transparent;
    border-style: none;
    font-size: 1.25rem;
    font-family: inherit;
}

.nexus-pulse {
    font-family: playfair;
    letter-spacing: -4px;
    font-size: 3em;
    color: #E1EEED;
}

header img {
    width: 230px;
}


.register-button,
.login-form {
    background-color: #00625C;
    color: #ffffff;
}

.connect-button:hover,
.login-form:hover {
    background-color: #00524D; 
    cursor: pointer;
}

#content {
    display: flex;
    color: #E1EEED;
    align-items: center;
}

.hero {
    font-family: playfair;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    font-size: 5em;
}

.sub-hero {
    margin-bottom: 20px;
    font-size: 1.25em;
    padding: 16px;
    opacity: 80%;
}

.bottom-content {
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.left {
    display: flex;
    align-items: center;
    width: 60%;
    text-align: center;
}

.left-img img {
    width: 400px;
    height: 350px;
    border-radius: 20px;
}

.left-img {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
    align-items: end;
}

.right-img {
    width: 40%;
}

.right-img img{
    width: 400px;
    height: 600px;
    border-radius: 20px;
}

.about-us-text {
    color: #7D7D7D;
    font-family: sofia;
    font-size: 2em;
    gap: 20px;
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
    align-items: center;
}

.dash {
    width: 400px;
}

.about-header {
    color: #6ABCB8;
    margin-bottom: 30px;
}

.right > p {
    font-family: sofia;
}

.right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.about-header {
    font-size: 4em;
    font-weight: 600;
}

em {
    font-weight: 600;
    font-family: playfair-italic;
    color: #00625C;
}

.right > p {
    font-size: 2em;
    width: 620px;
    text-align: left;
    letter-spacing: -.5px;
}

.key-features-container {
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    gap: 24px;
    background-color: #00625C;
}

.icon-container {
    width: 120px;
    height: 100px;
    background-color: #f6f6f6;
    position: absolute;
    margin-bottom: 350px;
    left: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key-features-container h2{
    font-size: 2em;
    letter-spacing: 5px;
    color: #F6F6F6;
}

.key-features-container > .header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.key-features-container h3{
    font-size: 2.5em;
    color: #00625C;
    font-family: playfair-italic;
}

.key-features-container > .header img {
    width: 500px;
}

.key-features-container p{
    font-size: 1.5em;
    color: #333333;
    margin: 8px;
}

.key-features-collection{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}

.key-features-card {
    width: 30%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2%;
    gap: 30px;
    background-color: #f6f6f6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.key-features-card h3{
    font-size: 2.5em;
    height: 30%;
}

.key-features-card p {
    padding: 0 30px;
}

.interoperability {
    padding-top: 30px;
}

.team-container {
    width: 100%;
    height: 80vh;
    color: #6ABCB8;
    background-color: #F6F6F6;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-container > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-container h2 {
    font-size: 4em;
    font-family: playfair;
}

.team-container > .header p,
.team-container .name {
    font-size: 1.5em;
    color: #333333;
}

.team-container .card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.team-container .card-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.developer {
    color: #00625C;
    font-family: playfair-italic;
}

.img-container {
    background-color: white;
    width: 300px;
    overflow: hidden;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.img-container img {
    border-radius: 50%;
    object-fit: contain;
}

.neil {
    width: 100%;
    height: 110%;
}

.bob {
    width: 90%;
    height: 100%;
    margin-left: 15px;
}

.andrea {
    height: 100%;
    width: 90%;
    margin-left: 20px;
}

.mark {
    height: 100%;
    width: 320px;
    border-radius: 50%;
}

.contact-form-container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background: url(./images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.cfc{
    width: 50%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-label{
    gap:32px;
}

.form-label h1{
    font-size: 4em;
    color: #f6f6f6;
    font-family: playfair;
}

.form-label p, .form-label h3{
    font-size: 1.25em;
    color: #f6f6f6;
}

h3 a{
    font-weight: lighter;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50vh;
    align-items: space-evenly;
    justify-content: space-evenly;
}

form label {
    color: #f6f6f6;
    font-size: 1.25em;
}

input[type=text], select, textarea {    
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: sofia;
    font-size: 1em;
}
  
input[type=submit] {
    background-color: #2c605c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.15em;
    margin-top: 20px;
    font-family: sofia;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #00625C;
}

footer {
    position: fixed;
    bottom: 0;
    font-family: sofia;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #282d2e83;
    padding: 10px;
    color: #ffffff;
    font-size: 15px;
}